<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wechat_business.entity.ActivityRelation">
    <!-- 定义结果集 -->
    <resultMap id="activityRelationMap" type="wechat_business.entity.ActivityRelation">
        <id property="id" column="ID"/>
        <association property="activityInfoId" column="ACTIVITY_INFO_ID" select="getActivityInfo" javaType="wechat_business.entity.ActivityInfo">
            <id property="id" column="ID"/>
            <result property="discount" column="DISCOUNT"/>
            <result property="activityName" column="ACTIVITY_NAME"/>
            <result property="activityStartTime" column="ACTIVITY_START_TIME"/>
            <result property="activityEndTime" column="ACTIVITY_END_TIME"/>
        </association>
        <association property="itemRelationId" column= "ITEM_RELATION_ID" select="getItemRelation" javaType="wechat_business.entity.ItemRelation">
            <id property="id" column="ID"/>
            <result column="INVENTORY" property="inventory"></result>
            <result column="PRICE" property="price"></result>
            <result column="IMG_ADDR" property="imgAddr"></result>
            <result column="SELLER_INFO_ID" property="sellerInfo"></result>
            <result column="ITEM_INFO_ID" property="itemInfo"></result>
        </association>
    </resultMap>
    <select id="getActivityInfo" parameterType="java.lang.Long" resultType="wechat_business.entity.ActivityInfo">
        SELECT ID,DISCOUNT,ACTIVITY_NAME,ACTIVITY_START_TIME,ACTIVITY_END_TIME
        FROM ACTIVITY_INFO
        WHERE ID=#{id}
    </select>
    <select id="getItemRelation" parameterType="java.lang.Long" resultType="wechat_business.entity.ItemRelation">
        SELECT ID,ITEM_INFO_ID,SELLER_INFO_ID,INVENTORY, PRICE,IMG_ADDR
        FROM item_relation
        WHERE ID=#{id}
    </select>
    <!-- 定义sql -->
    <sql id="columns">
        ID,ITEM_RELATION_ID,ACTIVITY_INFO_ID
    </sql>
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM ACTIVITY_RELATION
        WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Map">
        <if test="@Ognl@isNotEmpty(ids)">
            DELETE FROM ACTIVITY_RELATION
            WHERE ID IN
            <foreach collection="ids" item="ids" open="(" separator="," close=")">
                #{ids}
            </foreach>
        </if>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="wechat_business.entity.ActivityRelation">
        INSERT INTO ACTIVITY_RELATION(<include refid="columns"/> )
        VALUES (DEFAULT ,#{itemRelationId},#{activityInfoId})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="wechat_business.entity.ActivityRelation">
        UPDATE ACTIVITY_RELATION
        SET ITEM_RELATION_ID=#{itemRelationId},ACTIVITY_INFO_ID=#{activityInfoId}
        WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultMap="activityRelationMap">
        SELECT <include refid="columns"/>
        FROM ACTIVITY_RELATION
        WHERE ID=#{id}
    </select>
    <!-- 根据条件查询 -->
    <select id="findByCondtion" parameterType="java.util.HashMap" resultMap="activityRelationMap">
        SELECT <include refid="columns"/>
        FROM ACTIVITY_RELATION
        <where>
            <if test="@Ognl@isNotEmpty(itemRelationId)">
                AND ITEM_RELATION_ID LIKE #{itemRelationId}
            </if>
            <if test="@Ognl@isNotEmpty(activityInfoId)">
                AND ACTIVITY_INFO_ID LIKE #{activityInfoId}
            </if>
        </where>
    </select>
    <!--&lt;!&ndash; 根据条件分页查询 &ndash;&gt;-->
    <select id="findByCondtionForPage" parameterType="java.util.HashMap" resultMap="activityRelationMap">
        SELECT <include refid="columns"/>
        FROM ACTIVITY_RELATION
        <where>
            <if test="@Ognl@isNotEmpty(itemRelationId)">
                AND ITEM_RELATION_ID LIKE #{itemRelationId}
            </if>
            <if test="@Ognl@isNotEmpty(activityInfoId)">
                AND ACTIVITY_INFO_ID LIKE #{activityInfoId}
            </if>
        </where>
    </select>
</mapper>