<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wechat_business.entity.ActivityRelation">
    <resultMap id="activityRelationMap" type="wechat_business.entity.ActivityRelation">
    <id column="ID" property="id"></id>
    <association property="itemRelationId" column="ITEM_RELATION_ID" javaType="wechat_business.entity.ItemRelation">
    <id column="ID" property="id"></id>
    <result column="INVENTORY" property="inventory"></result>
    <result column="PRICE" property="price"></result>
    <result column="IMG_ADDR" property="imgAddr"></result>
    <association property="sellerInfo" column="SELLER_INFO_ID" javaType="wechat_business.entity.SellerInfo">
    <id column="ID" property="id"></id>
    <result column="SHOP_NAME" property="shopName"></result>
    <result column="SHOP_NUMBER" property="shopNumber"></result>
    <result column="SHOP_TYPE" property="shopType"></result>
    <result column="TAOBAO_ACCOUNT_ID" property="taobaoAccountId"></result>
    <result column="REGISTRATION_TIME" property="registrationTime"></result>
    <result column="ADDRESS" property="address"></result>
    <result column="EMAIL" property="email"></result>
    <result column="AFFILIATED_COMPANY" property="affiltaedCompany"></result>
    <result column="COMMERCIAL_REGISTRATION_NUM" property="commercialRegistrationNum"></result>
    <result column="UPDATE_TIME" property="updateTime"></result>
    <result column="DEPOSIT" property="deposit"></result>
    <result column="CREDITWORTHINESS" property="creditworthiness"></result>
    </association>
    <association property="itemInfo" column="ITEM_INFO_ID"  javaType="wechat_business.entity.ItemInfo">
    <id column="ID" property="id"></id>
    <result column="NAME" property="name"></result>
    <result column="NUMBER" property="number"></result>
    <result column="IN_TIME" property="inTime"></result>
    <result column="UPDATE_TIME" property="updateTimel"></result>
    <result column="MAKER" property="maker"></result>
    <result column="ADDR" property="addr"></result>
    <result column="MAKE_TIME" property="makeTime"></result>
    <result column="EXPIRATION" property="expiration"></result>
    <result column="ORIGIN" property="origin"></result>
    <result column="DESCRIPTION" property="description"></result>
    <result column="DISCOUNT" property="discount"></result>
    </association>
    </association>
    <association property="activityInfoId" column="ACTIVITY_INFO_ID"  javaType="wechat_business.entity.ActivityInfo">
    <id property="id" column="ID"></id>
    <result property="discount" column="DISCOUNT"></result>
    <result property="activityName" column="ACTIVITY_NAME"></result>
    <result property="activityStartTime" column="ACTIVITY_START_TIME"></result>
    <result property="activityEndTime" column="ACTIVITY_END_TIME"></result>
    </association>
    </resultMap>
    <!-- 根据id删除 -->
    <!--<delete id="deleteById" parameterType="java.lang.Long">-->
        <!--DELETE FROM ACTIVITY_RELATION-->
        <!--WHERE ID=#{id}-->
    <!--</delete>-->
    <!--&lt;!&ndash; 根据多个id删除 &ndash;&gt;-->
    <!--<delete id="deleteByIds" parameterType="java.util.Arrays">-->
        <!--DELETE FROM ACTIVITY_RELATION-->
        <!--WHERE ID IN-->
        <!--<foreach collection="array" item="ids" open="(" separator="," close=")">-->
            <!--#{ids}-->
        <!--</foreach>-->
    <!--</delete>-->
    <!-- 保存 -->
    <!--<insert id="save" parameterType="wechat_business.entity.ActivityRelation">-->
        <!--INSERT INTO ACTIVITY_RELATION(ID,ITEM_RELATION_ID,ACTIVITY_INFO_ID)-->
        <!--VALUES (DEFAULT ,#{itemRelationId},#{activityInfoId})-->
    <!--</insert>-->
    <!--&lt;!&ndash; 修改 &ndash;&gt;-->
    <!--<update id="update" parameterType="wechat_business.entity.ActivityRelation">-->
        <!--UPDATE ACTIVITY_RELATION-->
        <!--SET ITEM_RELATION_ID=#{itemRelationId},ACTIVITY_INFO_ID=#{activityInfoId}-->
        <!--WHERE ID=#{id}-->
    <!--</update>-->
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultType="wechat_business.entity.ActivityRelation">
        SELECT ID,ITEM_RELATION_ID,ACTIVITY_INFO_ID
        FROM ACTIVITY_RELATION
        WHERE ID=#{id}
    </select>
    <!-- 根据条件（活动信息表id）查询 -->
    <select id="findByCondtion" parameterType="java.util.Map" resultMap="activityRelationMap">
        SELECT ID,ITEM_RELATION_ID,ACTIVITY_INFO_ID
        FROM ACTIVITY_RELATION
        <where>
            ACTIVITY_INFO_ID=#{ACTIVITY_INFO_ID}
        </where>
    </select>
</mapper>