<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wechat_business.entity.Address">
    <!-- 定义结果集-->
        <resultMap id="addressMap" type="wechat_business.entity.Address">
            <id property="id" column="ID" />
            <result property="taobaoAccountId" column="TAOBAO_ACCOUNT_ID" />
            <result property="addressType" column="ADDRESS_TYPE" />
            <result property="address" column="ADDRESS" />
            <result property="linkmanContacts" column="LINKMAN_CONTACTS" />
            <result property="telephone" column="TELEPHONE" />
            <result property="createTime" column="CREATE_TIME" />
            <result property="updateTime" column="UPDATE_TIME" />
            <result property="isDefault" column="IS_DEFAULT" />
        </resultMap>
    <!-- 定义sql操作列 -->
    <sql id="columns">
        ID,TAOBAO_ACCOUNT_ID,ADDRESS_TYPE,ADDRESS,LINKMAN_CONTACTS,TELEPHONE,CREATE_TIME,UPDATE_TIME,IS_DEFAULT
    </sql>
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM ADDRESS
        WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM ADDRESS
        WHERE ID IN
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="wechat_business.entity.Address">
        INSERT INTO ADDRESS(ID,TAOBAO_ACCOUNT_ID,ADDRESS_TYPE,ADDRESS,LINKMAN_CONTACTS,TELEPHONE,CREATE_TIME,UPDATE_TIME,IS_DEFAULT)
        VALUES (DEFAULT ,#{taobaoAccountId},#{addressType},#{address},#{linkmanContacts},#{telephone},#{createTime},#{updateTime},#{isDefault})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="wechat_business.entity.Address">
        UPDATE ADDRESS
        SET TAOBAO_ACCOUNT_ID=#{taobaoAccountId},ADDRESS_TYPE=#{addressType},ADDRESS=#{address},LINKMAN_CONTACTS=#{linkmanContacts},TELEPHONE=#{telephone},CREATE_TIME=#{createTime},UPDATE_TIME=#{updateTime},IS_DEFAULT=#{isDefault}
        WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultMap="addressMap">
        SELECT <include refid="columns"/>
        FROM ADDRESS
        WHERE ID=#{id}
    </select>
    <!-- 根据条件查询 -->
    <select id="findByCondtion" parameterType="java.util.HashMap" resultMap="addressMap">
        SELECT <include refid="columns"/>
        FROM ADDRESS
        <where>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(taobaoAccountId)">
                AND TAOBAO_ACCOUNT_ID LIKE #{taobaoAccountId}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(addressType)">
                AND ADDRESS_TYPE LIKE #{addressType}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(address)">
                AND ADDRESS LIKE #{address}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(linkmanContacts)">
                AND LINKMAN_CONTACTS LIKE #{linkmanContacts}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(telephone)">
                AND TELEPHONE LIKE #{telephone}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(createTime)">
                AND CREATE_TIME LIKE #{createTime}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(updateTime)">
                AND UPDATE_TIME LIKE #{updateTime}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(isDefault)">
                AND IS_DEFAULT LIKE #{isDefault}
            </if>
        </where>
    </select>
    <!-- 根据条件分页查询 -->
    <select id="findByCondtionForPage" parameterType="java.util.HashMap" resultMap="addressMap">
        SELECT <include refid="columns"/>
        FROM ADDRESS
        <where>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(taobaoAccountId)">
                AND TAOBAO_ACCOUNT_ID LIKE #{taobaoAccountId}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(addressType)">
                AND ADDRESS_TYPE LIKE #{addressType}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(address)">
                AND ADDRESS LIKE #{address}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(linkmanContacts)">
                AND LINKMAN_CONTACTS LIKE #{linkmanContacts}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(telephone)">
                AND TELEPHONE LIKE #{telephone}
            </if>
            <if test="@wechat_business.dao.wechat_business.dao.Ognl@isNotEmpty(createTime)">
                AND CREATE_TIME LIKE #{createTime}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(updateTime)">
                AND UPDATE_TIME LIKE #{updateTime}
            </if>
            <if test="@wechat_business.dao.Ognl@isNotEmpty(isDefault)">
                AND IS_DEFAULT LIKE #{isDefault}
            </if>
        </where>
    </select>
</mapper>