<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wechat_business.entity.ItemInfo">
    <resultMap id="itemInfo" type="wechat_business.entity.ItemInfo">
        <id column="ID" property="id"></id>
        <result column="NAME" property="name"></result>
        <result column="NUMBER" property="number"></result>
        <result column="IN_TIME" property="inTime"></result>
        <result column="UPDATE_TIME" property="updateTime"></result>
        <result column="MAKER" property="maker"></result>
        <result column="ADDR" property="addr"></result>
        <result column="MAKE_TIME" property="makeTime"></result>
        <result column="EXPIRATION" property="expiration"></result>
        <result column="ORIGIN" property="origin"></result>
        <result column="DESCRIPTION" property="description"></result>
        <result column="DISCOUNT" property="discount"></result>
        <association column="ITEM_TYPE_ID" property="itemType" javaType="wechat_business.entity.ItemType">
            <id column="ID" property="id"></id>
            <result column="NAME" property="name"></result>
            <result column="DESCRIPTION" property="description"></result>
        </association>
    </resultMap>

    <select id="findByCondtion" parameterType="java.util.HashMap" resultMap="itemInfo">
        SELECT
        ID,`NAME`,`NUMBER`,ITEM_TYPE_ID,IN_TIME,UPDATE_TIME,MAKER,ADDR,MAKE_TIME,EXPIRATION,ORIGIN,DESCRIPTION,DISCOUNT
        FROM `item_info`
        <where>
            <if test="name!=null">
                AND `NAME` LIKE  '%${name}%'
            </if>
        </where>
    </select>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultMap="itemInfo">
        SELECT ID,`NAME`,`NUMBER`,ITEM_TYPE_ID,IN_TIME,UPDATE_TIME,MAKER,ADDR,MAKE_TIME,EXPIRATION,ORIGIN,DESCRIPTION,DISCOUNT
        FROM `item_info`
        WHERE ID=#{id}
    </select>
</mapper>