<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wechat_business.entity.SellerInfo">
    <!-- 定义结果集-->
        <resultMap id="sellerInfoMap" type="wechat_business.entity.SellerInfo">
            <id property="id" column="ID" />
            <result property="shopName" column="SHOP_NAME" />
            <result property="shopNumber" column="SHOP_NUMBER" />
            <result property="shopType" column="SHOP_TYPE" />
            <result property="taobaoAccountId" column="TAOBAO_ACCOUNT_ID" />
            <result property="registrationTime" column="REGISTRATION_TIME" />
            <result property="address" column="ADDRESS" />
            <result property="email" column="EMAIL" />
            <result property="affiltaedCompany" column="AFFILIATED_COMPANY" />
            <result property="commercialRegistrationNum" column="COMMERCIAL_REGISTRATION_NUM" />
            <result property="updateTime" column="UPDATE_TIME" />
            <result property="deposit" column="DEPOSIT" />
            <result property="creditworthiness" column="CREDITWORTHINESS" />
        </resultMap>
    <!-- 定义sql操作列 -->
    <sql id="columns">
        ID,SHOP_NAME,SHOP_NUMBER,SHOP_TYPE,TAOBAO_ACCOUNT_ID,REGISTRATION_TIME,ADDRESS,EMAIL,AFFILIATED_COMPANY,
        COMMERCIAL_REGISTRATION_NUM,UPDATE_TIME,DEPOSIT,CREDITWORTHINESS
    </sql>
    <!-- 根据id删除 -->
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM SELLER_INFO
        WHERE ID=#{id}
    </delete>
    <!-- 根据多个id删除 -->
    <delete id="deleteByIds" parameterType="java.util.Arrays">
        DELETE FROM SELLER_INFO
        WHERE ID IN
        <if test="@Ognl@isNotEmpty(ids)">
            <foreach collection="ids" item="ids" open="(" separator="," close=")">
                #{ids}
            </foreach>
        </if>
    </delete>
    <!-- 保存 -->
    <insert id="save" parameterType="wechat_business.entity.SellerInfo">
            INSERT INTO SELLER_INFO(ID,SHOP_NAME,SHOP_NUMBER,SHOP_TYPE,TAOBAO_ACCOUNT_ID,REGISTRATION_TIME,ADDRESS,EMAIL,AFFILIATED_COMPANY,COMMERCIAL_REGISTRATION_NUM,UPDATE_TIME,DEPOSIT,CREDITWORTHINESS)
            VALUES (DEFAULT ,#{shopName},#{shopNumber},#{shopType},#{taobaoAccountId},#{registrationTime},#{address},#{email},#{affiltaedCompany},#{commercialRegistrationNum},#{updateTime},#{deposit},#{creditworthiness})
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="wechat_business.entity.SellerInfo">
            UPDATE SELLER_INFO
            SET SHOP_NAME=#{shopName},SHOP_NUMBER=#{shopNumber},SHOP_TYPE=#{shopType},TAOBAO_ACCOUNT_ID=#{taobaoAccountId},
            REGISTRATION_TIME=#{registrationTime},ADDRESS=#{address},EMAIL=#{email},AFFILIATED_COMPANY=#{affiltaedCompany},
            COMMERCIAL_REGISTRATION_NUM=#{commercialRegistrationNum},UPDATE_TIME=#{updateTime},DEPOSIT=#{deposit},
            CREDITWORTHINESS=#{creditworthiness}
            WHERE ID=#{id}
    </update>
    <!-- 根据id查询 -->
    <select id="findById" parameterType="java.lang.Long" resultMap="sellerInfoMap">
        SELECT <include refid="columns"/>
        FROM SELLER_INFO
        WHERE ID=#{id}
    </select>
    <!-- 根据条件查询 -->
    <select id="findByCondtion" parameterType="java.util.HashMap" resultMap="sellerInfoMap">
        SELECT <include refid="columns"/>
        FROM SELLER_INFO
        <where>
            <if test="SHOP_NAME!=NULL ">
                AND SHOP_NAME LIKE #{shopName}
            </if>
            <if test="SHOP_NUMBER!=NULL">
                AND SHOP_NUMBER LIKE #{shopNumber}
            </if>
            <if test="SHOP_TYPE!=NULL">
                AND SHOP_TYPE LIKE #{shopType}
            </if>
            <if test="TAOBAO_ACCOUNT_ID!=NULL">
                AND TAOBAO_ACCOUNT_ID LIKE #{taobaoAccountId}
            </if>
            <if test="REGISTRATION_TIME!=NULL">
                AND REGISTRATION_TIME LIKE #{registrationTime}
            </if>
            <if test="ADDRESS!=NULL">
                AND ADDRESS LIKE #{address}
            </if>
            <if test="EMAIL!=NULL">
                AND EMAIL LIKE #{email}
            </if>
            <if test="AFFILIATED_COMPANY!=NULL">
                AND AFFILIATED_COMPANY LIKE #{affiltaedCompany}
            </if>
            <if test="COMMERCIAL_REGISTRATION_NUM!=NULL">
                AND COMMERCIAL_REGISTRATION_NUM LIKE #{commercialRegistrationNum}
            </if>
            <if test="UPDATE_TIME!=NULL">
                AND UPDATE_TIME LIKE #{updateTime}
            </if>
            <if test="DEPOSIT!=NULL">
                AND DEPOSIT LIKE #{deposit}
            </if>
            <if test="CREDITWORTHINESS!=NULL">
                AND CREDITWORTHINESS LIKE #{creditworthiness}
            </if>
        </where>
    </select>
    <!-- 根据条件分页查询 -->
    <select id="findByCondtionForPage" parameterType="java.util.HashMap" resultMap="SellerInfoMap">
        SELECT <include refid="columns"/>
        FROM SELLER_INFO
        <where>
            <if test="SHOP_NAME!=NULL ">
                AND SHOP_NAME LIKE #{shopName}
            </if>
            <if test="SHOP_NUMBER!=NULL">
                AND SHOP_NUMBER LIKE #{shopNumber}
            </if>
            <if test="SHOP_TYPE!=NULL">
                AND SHOP_TYPE LIKE #{shopType}
            </if>
            <if test="TAOBAO_ACCOUNT_ID!=NULL">
                AND TAOBAO_ACCOUNT_ID LIKE #{taobaoAccountId}
            </if>
            <if test="REGISTRATION_TIME!=NULL">
                AND REGISTRATION_TIME LIKE #{registrationTime}
            </if>
            <if test="ADDRESS!=NULL">
                AND ADDRESS LIKE #{address}
            </if>
            <if test="EMAIL!=NULL">
                AND EMAIL LIKE #{email}
            </if>
            <if test="AFFILIATED_COMPANY!=NULL">
                AND AFFILIATED_COMPANY LIKE #{affiltaedCompany}
            </if>
            <if test="COMMERCIAL_REGISTRATION_NUM!=NULL">
                AND COMMERCIAL_REGISTRATION_NUM LIKE #{commercialRegistrationNum}
            </if>
            <if test="UPDATE_TIME!=NULL">
                AND UPDATE_TIME LIKE #{updateTime}
            </if>
            <if test="DEPOSIT!=NULL">
                AND DEPOSIT LIKE #{deposit}
            </if>
            <if test="CREDITWORTHINESS!=NULL">
                AND CREDITWORTHINESS LIKE #{creditworthiness}
            </if>
        </where>
    </select>
</mapper>